@import "tailwindcss";

:root {
  --background: #EEF6F6; /* Clear Day */
  --foreground: #19322F; /* Nordic */
}

@theme {
  --color-primary: #06f9d0;
  --color-background-light: #EEF6F6;
  --color-background-dark: #0f231f;
  --color-nordic-dark: #19322F;
  --color-nordic-muted: #5C706D;
  --color-mosque: #006655;
  --color-hint-green: #D9ECC8;
  
  --font-display: "SF Pro Display", "Inter", sans-serif;
  
  --shadow-soft: 0 10px 40px -10px rgba(0,0,0,0.05);
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

body {
  background-color: var(--color-background-light);
  color: var(--color-nordic-dark);
  font-family: var(--font-display);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

